<?xml version="1.0"?>
<!--
/**
 * @author Ammarindo Team
 * @copyright Copyright (c) 2018 Ammarindo (https://www.ammarindo.net)
 * @package Ammarindo_WebBridge
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Ammarindo_WebBridge::config" title="Ammarindo WebBridge" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
