<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ammarindo_webbridge>
            <general>
                <enable>0</enable>
                <promotion_id></promotion_id>
                <site_web_id></site_web_id>
            </general>
        </ammarindo_webbridge>
    </default>
</config>
